<<<<<<< HEAD
<%- include('./partials/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p><%= err.stack %></p>
        </div>
    </div>
</div>
<%- include('./partials/footer')%>
||||||| empty tree
=======
<%- include('./partials/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p><%= err.stack %></p>
        </div>
    </div>
</div>
<%- include('./partials/footer')%>
>>>>>>> 970cf6f8706313214d0ca9bc24bd26c288d5e916
